<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Posts Data</h2>

      <table class="table" *ngIf="posts && posts.length">
        <thead>
          <tr>
            <th>Id</th>
            <th>title</th>
            <th>Body</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of posts">
            <td>{{ post.id }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.body }}</td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="!posts">
        <p>No Posts. Please add one</p>
      </div>
    </div>
  </div>
</div>
